body {
    background-color: #0C0A0A;
}
#play {
    position:absolute;
    background-color: #000;
    border-color: #1B5FA7;
    display: none;
}
#music {
    display: none;
}
button:focus {
    outline: 0;
}
@keyframes blinkReactor {
    0% { opacity: 0; }
    4% { opacity: 0; }
    5% { opacity: 1; }
    6% { opacity: 0; }
    8% { opacity: 1; }
    10% { opacity: 0; }
    11% { opacity: 1; }
    98% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes blinkEyes {
    0%  { opacity: 0; }
    14% { opacity: 0; }
    16% { opacity: 1; }
    17% { opacity: 0; }
    19% { opacity: 1; }
    20% { opacity: 0; }
    21% { opacity: 1; }
    98% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
path {
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#loader {
    content: "";
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 50%;
    border: 5px solid;
    border-color: #154267;
    border-top-color: #A0A8B0;
    animation: spinner 1s ease infinite;
}
.reactor {
    animation-name: blinkReactor;
}
.eyes {
    animation-name: blinkEyes;
}
.st0{fill:#0C0A0A;}
.st1{fill:#100E0F;}
.st2{fill:#233236;}
.st3{fill:#0D0B0C;}
.st4{fill:#143D66;}
.st5{fill:#133A66;}
.st6{fill:#234146;}
.st7{fill:#16366A;}
.st8{fill:#2164D2;}
.st9{fill:#162C7F;}
.st10{fill:#1B3EAF;}
.st11{fill:#1F4FC8;}
.st12{fill:#223D41;}
.st13{fill:#172D84;}
.st14{fill:#3A5B72;}
.st15{fill:#204AC8;}
.st16{fill:#1F49C9;}
.st17{fill:#1A329D;}
.st18{fill:#141B76;}
.st19{fill:#1D2058;}
.st20{fill:#1E27BB;}
.st21{fill:#161B74;}
.st22{fill:#1F28C6;}
.st23{fill:#315D65;}
.st24{fill:#407F8C;}
.st25{fill:#4FA2B7;}
.st26{fill:#141860;}
.st27{fill:#2F575D;}
.st28{fill:#3A6371;}
.st29{fill:#8C8B9F;}
.st30{fill:#7D7D8E;}
.st31{fill:#1B238A;}
.st32{fill:#1D26BD;}
.st33{fill:#181D85;}
.st34{fill:#4596A7;}
.st35{fill:#2F5A60;}
.st36{fill:#153267;}
.st37{fill:#3C7884;}
.st38{fill:#204FCF;}
.st39{fill:#1C24AE;}
.st40{fill:#1B22A7;}
.st41{fill:#42818E;}
.st42{fill:#171970;}
.st43{fill:#448C9C;}
.st44{fill:#1D239A;}
.st45{fill:#151B6C;}
.st46{fill:#1E27CD;}
.st47{fill:#1A21B8;}
.st48{fill:#171F8A;}
.st49{fill:#315F69;}
.st50{fill:#15186A;}
.st51{fill:#171969;}
.st52{fill:#161A6F;}
.st53{fill:#293D44;}
.st54{fill:#1C22A5;}
.st55{fill:#1E25B5;}
.st56{fill:#161E8D;}
.st57{fill:#1C239E;}
.st58{fill:#2028B5;}
.st59{fill:#1B1B8B;}
.st60{fill:#1B2182;}
.st61{fill:#232EC2;}
.st62{fill:#1C1D8C;}
.st63{fill:#15185F;}
.st64{fill:#2227CE;}
.st65{fill:#1D22BC;}
.st66{fill:#9393AE;}
.st67{fill:#1A1A72;}
.st68{fill:#1922BF;}
.st69{fill:#9191B0;}
.st70{fill:#1B21B2;}
.st71{fill:#1E24BE;}
.st72{fill:#161D76;}
.st73{fill:#1E27B7;}
.st74{fill:#1E29D4;}
.st75{fill:#161A7D;}
.st76{fill:#63ADD0;}
.st77{fill:#4D778C;}
.st78{fill:#5A94AE;}
.st79{fill:#4B7A90;}
.st80{fill:#558EA8;}
.st81{fill:#283B3F;}
.st82{fill:#4E9FAF;}
.st83{fill:#413F59;}
.st84{fill:#3D7C86;}
.st85{fill:#588B8E;}
.st86{fill:#2C39AB;}
.st87{fill:#1D26CF;}
.st88{fill:#111330;}
.st89{fill:#121434;}
.st90{fill:#222229;}
.st91{fill:#111215;}
.st92{fill:#4F7C8D;}
.st93{fill:#0F1012;}
.st94{fill:#12121B;}
.st95{fill:#1D1E23;}
.st96{fill:#5F6B7A;}
.st97{fill:#070708;}
.st98{fill:#1E26C9;}
.st99{fill:#14140E;}
.st100{fill:#3E3B2A;}
.st101{fill:#0D0C0D;}
.st102{fill:#0C0B0C;}
.st103{fill:#121220;}
.st104{fill:#202BC4;}
.st105{fill:#2E36BA;}
.st106{fill:#1C1C21;}
.st107{fill:#F0EFEE;}
.st108{fill:#474855;}
.st109{fill:#383843;}
.st110{fill:#7BA5C2;}
.st111{fill:#88A4BF;}
.st112{fill:#454C5A;}
.st113{fill:#428590;}
.st114{fill:#A4A16A;}
.st115{fill:#3B656C;}
.st116{fill:#3E585A;}
.st117{fill:#3A6067;}
.st118{fill:#3B6066;}
.st119{fill:#3C535A;}
.st120{fill:#434350;}
.st121{fill:#5482A0;}
.st122{fill:#40404C;}
.st123{fill:#799EB9;}
.st124{fill:#6BBBC0;}
.st125{fill:#76C6D0;}
.st126{fill:#4E99AA;}
.st127{fill:#8ACFE0;}
.st128{fill:#92B0CA;}
.st129{fill:#F1F1F1;}
.st130{fill:#424955;}
.st131{fill:#A1D7E3;}
.st132{fill:#E9F5F8;}
.st133{fill:#BDE2EB;}
.st134{fill:#B5DFE7;}
.st135{fill:#8DD0DE;}
.st136{fill:#FFFFFF;}
