*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: black;
    background-image: 
        linear-gradient(90deg, rgba(180, 198, 174, 0.1) 1px, transparent 1px),
        linear-gradient(180deg, rgba(0, 123, 255, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 123, 255, 0.2) 1px, transparent 1px),
        linear-gradient(180deg, rgba(0, 123, 255, 0.2) 1px, transparent 1px);
    background-size: 25px 25px, 25px 25px, 50px 50px, 50px 50px;
    color: #007bff;
}
#content{
    display: flex;
}
/*1e column*/
#lines{
    width: 30px;
    height: 900px;
    margin: 25px;
    padding: 2.5px;
}
#longline{
    height: 550px;
    width: 25px;
    background-color: #0062d3;
    box-shadow: 0px 0px 10px 3px #0062d3;
}
.shortline{
    height: 120px;
    width: 25px;
    margin-top: 30px;
    background-color: #0062d3;
    box-shadow: 0px 0px 10px 3px #0062d3;
}
/*2e column*/
#travelinfo{
    width: 310px;
    height: 900px;
    margin: 25px;
    padding: 5px;
}
#kmhborder{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 12.5px;
    box-shadow: 0px 0px 10px 3px #0062d3;
}
#kmhinnerborder{
    width: 275px;
    height: 275px;
    border-top: 12.5px solid #0062d3;
    border-left: 12.5px solid #002e63;
    border-bottom: 12.5px solid #0062d3;
    border-right: 12.5px solid #002e63;
    border-radius: 50%;
    background-color: r#002e63;
    box-shadow: 0px 0px 10px 3px #002e63;
    display: flex;
    padding: 12.5px;
    animation-name: spin;
    animation-duration: 450ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
#kmhinner{
    width: 225px;
    height: 225px;
    border-radius: 50%;
    padding: 12.5px;
    box-shadow: 0px 0px 10px 3px #002e63;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: nothing;
    animation-duration: 450ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes nothing{
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}
#speedmeter{
    color: white;
    font-size: 24px;
}
#speedtxtblock{
    width: 300px;
    height: 40px;
    background-color: #0062d3;
    margin-top: 25px;
    box-shadow: 0px 0px 10px 3px #0062d3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#speedtxt{
    color: white;
    font-size: 30px;
}
#gps{
    width: 400px;
    height: 250px;
    background-color: #0062d3;
    margin-top: 25px;
    box-shadow: 0px 0px 10px 3px #0062d3;
    border-radius: 10px;
}
#fulebox{
    height: 275px;
    width: 400px;
}
#fulemeter{
    width: 80px;
    height: 275px;
    background-color: #002e63;
    margin-top: 25px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 3px #002e63;
    rotate: 180deg;
}
#fule{
    width: 80px;
    height: 200px;
    background-color: #0062d3;
    margin-top: 25px;
    border-radius: 50px;
    animation-name: fulee;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes fulee{
    0%{
        height: 250px;
    }
    50%{
        height: 80px;
    }
    100%{
        height: 250px;
    }
}
#fuletxtbox{
    width: 80px;
    height: 30px;
    background-color: #0062d3;
    margin-top: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 3px #0062d3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fuletxt{
    color: white;
    font-size: 20px;
}
#button{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: -260px;
    background-color: #0062d3;
    box-shadow: 0px 0px 10px 3px #0062d3;
}
#button:hover{
    background-color: #002e63;
    box-shadow: 0px 0px 10px 3px #002e63;
    transform: scale(1.25);
  }
  .hover-buttons {
    display: none;
    position: absolute;
    width: 175px;
    height: 175px;
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden;
    pointer-events: none; /* prevent blocking the hover */
  }
  
  #button:hover .hover-buttons {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
  }
  
  .hover-button {
    flex: 1;
    text-align: center;
    line-height: calc(175px / 3);
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .hover-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
/*3e column*/
#view{
    width: 610px;
    height: 900px;
    margin: 25px;
    padding: 5px;
    margin-left: 125px;
    display: flex;
    align-items: center;
}
#viewwindowborder{
    width: 600px;
    height: 600px;
    background-color: #002e63;
    box-shadow: 0px 0px 10px 1px #002e63;
    border-radius: 50%;
    padding: 7.5px;
}
#viewwindow{
    width: 585px;
    height: 585px;
    background-color: white;
    border-radius: 50%;
}
/*4e column*/
#column4{
    height: 900px;
    width: 290px;
    padding: 5px;
    margin: 25px;
}
#rotate{
    width: 280px;
    height: 280px;
    padding: 5px;
    margin-left: -75px;
}
#rorateborder{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    padding: 12.5px;
    box-shadow: 0px 0px 10px 3px #0062d3;
}
#rotateinnerborder{
    width: 245px;
    height: 245px;
    border-radius: 50%;
    border-top: 12.5px solid #0062d3;
    border-left: 12.5px solid #002e63;
    border-bottom: 12.5px solid #0062d3;
    border-right: 12.5px solid #002e63;
    box-shadow: 0px 0px 10px 3px #002e63;
    animation-name: spin2;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    padding: 12.5px;
}
@keyframes spin2 {
    0% {
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(360deg);
    }
    100% {
        transform:rotate(0deg);
    }
}
#rotateinner{
    width: 195px;
    height: 195px;
    border-radius: 50%;
    padding: 12.5px;
    box-shadow: 0px 0px 10px 3px #002e63;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: nothing2;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes nothing2 {
    0% {
        transform:rotate(360deg);
    }
    50% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
#rotatemeter{
    color: white;
    font-size: 24px;
}
#rotatetxtblock{
    width: 270px;
    height: 45px;
    background-color: #0062d3;
    margin-top: 25px;
    margin-left: -65px;
    box-shadow: 0px 0px 10px 3px #0062d3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rotatetxt{
    color: white;
    font-size: 30px;
}
/* 5e cloumn*/
#column5{
    width: 430px;
    height: 900px;
    margin: 25px;
    padding: 5px;
}
#armorinfoborder{
    height: 575px;
    width: 420px;
    background-color: #0062d3;
    box-shadow: 0px 0px 10px 3px #0062d3;
    padding: 7.5px;
}
#armorinfo{
    height: 560px;
    width: 405px;
    background-color: #002e63;
    box-shadow: 0px 0px 10px 0px #002e63;
    display: flex;
}
#head{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 10px;
    margin-left: 160px;
    margin-top: 30px;
}
#leftarm{
    width: 50px;
    height: 140px;
    margin: 10px;
    margin-left: -180px;
    margin-top: 140px;
}
#body{
    width: 120px;
    height: 170px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 140px;
}
#rightarm{
    width: 50px;
    height: 120px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 130px;
}
#rightarm{
    width: 50px;
    height: 140px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 140px;
}
#leftleg{
    width: 50px;
    height: 150px;
    margin: -90px;
    margin-left: -190px;
    margin-top: 320px;
}
#rightleg{
    width: 50px;
    height: 150px;
    margin: 10px;
    margin-left: 110px;
    margin-top: 320px;
}
.hoverpart{
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}
.hoverpart:hover {
    background-color: red; 
    box-shadow: 0px 0px 10px 0px rgb(255, 0, 0);
  }
#aline{
    height: 200px;
    width: 25px;
    margin-top: 25px;
    background-color: #0062d3;
    box-shadow: 0px 0px 10px 3px #0062d3;
    float: right;
}
#ammorow{
    width: 500px;
    height: 150px;
    margin-top: 260px;
    margin-left: -180px;
    padding: 10px;
    display: flex;
}
#aniammoborder{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #0062d3;
    box-shadow: 0px 0px 10px 3px #0062d3;
    padding: 10px;
}
#aniammoinner{
    height: 100px;
    right: 100px;
    border-radius: 50%;
    background-color: #002e63;
    box-shadow: 0px 0px 10px 0px #002e63;
    animation-name: reload;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#ammoborder{
    width: 300px;
    height: 120px;
    background-color: #0062d3;
    box-shadow: 0px 0px 10px 3px #0062d3;
    padding: 10px;
    display: flex;
    margin-left: 25px;
}
#a1{
    animation-name: reload;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
#a2{
    animation-name: reload;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 10s;
}
#a3{
    animation-name: reload;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 20s;
}
#a4{
    animation-name: reload;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 30s;
}
#a5{
    animation-name: reload;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 40s;
}
#a6{
    animation-name: reload;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 50s;
}
#a7{
    animation-name: reload;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 60s;
}
#a8{
    animation-name: reload;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 70s;
}
.ammo{
    height: 100px;
    width: 25px;
    margin-left: 3.5%;
    background-color: #002e63;
}
@keyframes reload{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
    
}
#driehoek{
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 90px solid;
    rotate: 270deg;
    margin-top: -130px;
    margin-left: 310px;
    color: #0062d3;
}
/*responsive*/
@media screen and (max-width: 1750px){
    /*1e column*/
#lines{
    width: 30px;
    height: 900px;
    margin: 25px;
    padding: 5px;
}
#longline{
    height: 500px;
    width: 20px;
}
.shortline{
    height: 100px;
    width: 20px;
    margin-top: 30px;

}
/*2e column*/
#travelinfo{
    width: 250px;
    height: 900px;
    margin: 25px;
    padding: 5px;
}
#kmhborder{
    width: 275px;
    height: 275px;
    border-radius: 50%;
}
#kmhinnerborder{
    width: 250px;
    height: 250px;
    padding: 12.5px;
    border-radius: 50%;
    display: flex;
}
#kmhinner{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#speedmeter{
    font-size: 24px;
}
#speedtxtblock{
    width: 275px;
    height: 40px;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#speedtxt{
    font-size: 30px;
}
#gps{
    width: 350px;
    height: 200px;
    margin-top: 25px;
    border-radius: 10px;
}
#fulemeter{
    width: 75px;
    height: 250px;
    margin-top: 25px;
    border-radius: 50px;
}
#fule{
    width: 75px;
    height: 200px;
    margin-top: 25px;
    border-radius: 50px;
}
#fuletxtbox{
    width: 75px;
    height: 25px;
    margin-top: 25px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fuletxt{
    font-size: 20px;
}
#button{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: -250px;
}
#button:hover{
    transform: scale(1.25);
  }
  .hover-buttons {
    display: none;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden;
    pointer-events: none;
  }
  
  #button:hover .hover-buttons {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
  }
  
  .hover-button {
    flex: 1;
    text-align: center;
    line-height: calc(150px / 3);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .hover-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
/*3e column*/
#view{
    width: 510px;
    height: 900px;
    margin: 25px;
    padding: 5px;
    margin-left: 125px;
    display: flex;
    align-items: center;
}
#viewwindowborder{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    padding: 7.5px;
}
#viewwindow{
    width: 485px;
    height: 485px;
    border-radius: 50%;
}
/*4e column*/
#column4{
    height: 900px;
    width: 240px;
    padding: 5px;
    margin: 25px;
}
#rotate{
    width: 230px;
    height: 230px;
    padding: 5px;
    margin-left: -75px;
}
#rorateborder{
    width: 225px;
    height: 225px;
    border-radius: 50%;
    padding: 12.5px;
}
#rotateinnerborder{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#rotateinner{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rotatemeter{
    font-size: 24px;
}
#rotatetxtblock{
    width: 225px;
    height: 40px;
    margin-top: 25px;
    margin-left: -65px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rotatetxt{
    font-size: 30px;
}
/* 5e cloumn*/
#column5{
    width: 330px;
    height: 900px;
    margin: 25px;
    padding: 5px;
}
#armorinfoborder{
    height: 475px;
    width: 325px;
    padding: 7.5px;
}
#armorinfo{
    height: 460px;
    width: 310px;
}
#aline{
    height: 200px;
    width: 20px;
    margin-top: 25px;
    float: right;
}
#ammorow{
    width: 425px;
    height: 110px;
    margin-top: 260px;
    margin-left: -150px;
    padding: 5px;
    display: flex;
}
#aniammoborder{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 10px;
}
#aniammoinner{
    height: 80px;
    right: 80px;
    border-radius: 50%;
}
#head{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 10px;
    margin-left: 120px;
    margin-top: 30px;
}
#leftarm{
    width: 40px;
    height: 100px;
    margin: 10px;
    margin-left: -150px;
    margin-top: 130px;
}
#body{
    width: 100px;
    height: 150px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 130px;
}
#rightarm{
    width: 40px;
    height: 100px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 130px;
}
#rightarm{
    width: 40px;
    height: 100px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 130px;
}
#leftleg{
    width: 40px;
    height: 125px;
    margin: 10px;
    margin-left: -160px;
    margin-top: 290px;
}
#rightleg{
    width: 40px;
    height: 125px;
    margin: 10px;
    margin-left: 10px;
    margin-top: 290px;
}
#ammoborder{
    width: 250px;
    height: 100px;
    padding: 10px;
    display: flex;
}
.ammo{
    height: 80px;
    width: 20px;
    margin-left: 3.5%;
    background-color: #002e63;
}
#driehoek{
    width: 0;
            height: 0;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            border-bottom: 75px solid;
            rotate: 270deg;
            margin-top: -100px;
            margin-left: 230px;
}
}
@media screen and (max-width: 1600px){
    #content{
        display: flex;
        scale: 0.9;
        margin: -50px;
        margin-left: -50px;
    }
}
@media screen and (max-width: 1450px){
    #content{
        display: flex;
        scale: 0.85;
        margin: -70px;
        margin-left: -100px;
    }
}
@media screen and (max-width: 1375px){
    #content{
        display: flex;
        scale: 0.75;
        margin: -120px;
        margin-left: -200px;
    }
}
@media screen and (max-width: 1200px){
    #content{
        display: flex;
        scale: 0.7;
        margin: -140px;
        margin-left: -230px;
    }
}
@media screen and (max-width: 1100px){
    #content{
        display: flex;
        scale: 0.65;
        margin: -170px;
        margin-left: -240px;
    }
}
@media screen and (max-width: 1000px){
    #content{
        display: flex;
        scale: 0.55;
        margin: -210px;
        margin-left: -320px;
    }
}
@media screen and (max-width: 850px){
    #content{
        display: flex;
        scale: 0.47;
        margin: -250px;
        margin-left: -370px;
    }
}
@media screen and (max-width: 725px){
    #content{
        display: flex;
        scale: 0.4;
        margin: -280px;
        margin-left: -410px;
    }
}
@media screen and (max-width: 600px){
    #content{
        display: flex;
        scale: 0.3;
        margin: -330px;
        margin-left: -440px;
    }
}